.container
    .catalog_card_wrapper
        nav.catalog_wrapper
            ul.catalog_block
                li.catalog_block_item
                    a.block_item(href='#') Вся продукция
                li.catalog_block_item#catalog_block_item_two
                    a.block_item(href='#') По системе использования
                    .arrow.one
                    ul.mini_menu_one
                        li.mini_menu_one_item
                            a(href='#') Все
                        li.mini_menu_one_item
                            a(href='#') Кардиология
                        li.mini_menu_one_item
                            a(href='#') Педриатрия
                        li.mini_menu_one_item
                            a(href='#') Гастроенторология
                        li.mini_menu_one_item
                            a(href='#') Терапия
                li.catalog_block_item#catalog_block_item_three
                    a.block_item(href='#') По действию
                    .arrow.two
                    ul.mini_menu_two
                        li.mini_menu_two_item
                            a(href='#') Все
                        li.mini_menu_two_item
                            a(href='#') Кардиология
                        li.mini_menu_two_item
                            a(href='#') Педриатрия
                        li.mini_menu_two_item
                            a(href='#') Гастроенторология
                        li.mini_menu_two_item
                            a(href='#') Терапия
                li.catalog_block_item
                    a.block_item(href='#') Фармаконадзор
    .catalog_line_head
        a(href='index.html') Главная
        | /
        a(href='catalog.html') Каталог препаратов
        p  / L-cet сироп
    .product__wrapper
        img(src='img/cmszoom_width_320.png')
        .product_txt_block
            h3 L-cet сироп
            .product_txt_block_item
                p
                    span Производитель:
                    | Lorem Ipsum
                p
                    span Действующее вещество:
                    |ЛЕВОЦЕТИРИЗИНА ДИГИДРОХЛОРИД
                p
                    span Показания к применению:
                    | Симптоматическое лечение аллергических ринитов, в том числе круглогодичных аллергических ринитов;
                p Хроническая идеопатическая крапивница.
                p 5 мл сиропа содержат левоцетиризина дигидрохлорида 2,5 мг.
                p Антигистаминные средства для системного применения.
                p Для подробной информации см. инструкцию для медицинского применения.
    .button_pdf
        .pdf
            a(href='#') Инструкция
            img(src='img/Shape 1.png')
.block_items
    .container
        .container_items__wrapper
            .block_items__wrapper
                .block_item
                    .block_item__info
                        span Нервная система
                    .image_item
                        img.block_items__image(src='img/Forma 1.png')
                .block_item
                    .block_item__info
                        span Костно мышечная система
                    .image_item
                        img.block_items__image(src='img/Forma 3.png')
                .block_item
                    .block_item__info
                        span Офтальмология
                    .image_item
                        img.block_items__image(src='img/Forma 2.png')
                .block_item
                    .block_item__info
                        span Противопростудные
                    .image_item
                        img.block_items__image(src='img/L0001.png')
                .block_item
                    .block_item__info
                        span Аллергия
                    .image_item
                        img.block_items__image(src='img/Forma 4.png')
                .block_item
                    .block_item__info
                        span Онкология
                    .image_item
                        img.block_items__image(src='img/category_icon_6.png')
                .block_item
                    .block_item__info
                        span Дезинфицирующие средства
                    .image_item
                        img.block_items__image(src='img/Forma 5.png')