.catalog
    .container
        h2 Каталог препаратов
        nav.catalog_wrapper
            ul.catalog_block
                li.catalog_block_item
                    a.block_item(href='#') Вся продукция
                li.catalog_block_item#catalog_block_item_two
                    a.block_item(href='#') По системе использования
                    .arrow.one
                    ul.mini_menu_one
                        li.mini_menu_one_item
                            a(href='#') Все
                        li.mini_menu_one_item
                            a(href='#') Кардиология
                        li.mini_menu_one_item
                            a(href='#') Педриатрия
                        li.mini_menu_one_item
                            a(href='#') Гастроенторология
                        li.mini_menu_one_item
                            a(href='#') Терапия
                li.catalog_block_item#catalog_block_item_three
                    a.block_item(href='#') По действию
                    .arrow.two
                li.catalog_block_item
                    a.block_item(href='#') Фармаконадзор

