.section_footer
    .container_footer
        a.logo_footer(href='#')
            img(src='img/logo.png')
        .info_footer__wrapper
            .menu_footer_wrapper
                nav
                    ul
                        li
                            a(href='#') О компании
                        li
                            a(href='#') Каталог препаратов
                        li
                            a(href='#') Фармаконадзор
                        li
                            a(href='#') Контакты
            .contact_footer_block
                .contact_footer_item
                    img(src='img/point_footer.png')
                    p 03127, Украина, Киев,
                        | Голосеевский проспект 132
                .contact_footer_item
                    img(src='img/phone_footer.png')
                    p 073 427 88 41
                .contact_footer_item
                    img(src='img/mail_footer.png')
                    p office@ffd.com.ua


            a(href='#')
                    img(src='img/in_footer.png')