.header
    .container
        .header_wrapper
            a(href='#')
                img(src='img/logo.png')
            nav
                ul
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Каталог препаратов
                    li
                        a(href='#') Фармаконадзор
                    li
                        a(href='#') Контакты
            .lang
                a.rus(href='#') RUS
                a.ukr(href='#') UKR
                a.eng(href='#') ENG
                .arr
             a(href='#')
                img(src='img/in.png')
