.header
    .container
        .header_wrapper
            a.logo_top(href='#')
                img(src='img/logo.png')
            .right_header
                nav
                    ul
                        li
                            a(href='#') О компании
                        li
                            a(href='#') Каталог препаратов
                        li
                            a(href='#') Фармаконадзор
                        li
                            a(href='#') Контакты
                .lang
                    a.langclass.rus(href='#') RUS
                    a.langclass.ukr(href='#') UKR
                    a.langclass.eng(href='#') ENG
                    .arr#arrbuttom
                 a.in(href='#')
                    img(src='img/in.png')
