.header
    .container
        .header_wrapper
            a.logo_top(href='index.html')
                img.logo_top_img(src='img/logo.png')

            .right_header_mini
                .burger_menu
                    span.burger_span_one
                    span.burger_span_two
                    span.burger_span_three
                a.in(href='#')
                    img(src='img/in.png')

                nav.top_menu_mini
                    ul
                        li
                            a(class='link', href='about_company.html') О компании
                        li
                            a(href='catalog.html') Каталог препаратов
                        li
                            a(href='controll.html') Фармаконадзор
                        li
                            a(href='contact.html') Контакты
            nav.top_menu_medium
                ul
                    li
                        a(class='link', href='about_company.html') О компании
                    li
                        a(href='catalog.html') Каталог препаратов
                    li
                        a(href='controll.html') Фармаконадзор
                    li
                        a(href='contact.html') Контакты

            .right_header
                nav
                    ul
                        li
                            a(href='about_company.html') О компании
                        li
                            a(href='catalog.html') Каталог препаратов
                        li
                            a(href='controll.html') Фармаконадзор
                        li
                            a(href='contact.html') Контакты

                .lang_wrapper
                    a.langclass.rus(href='#') RUS
                    a.langclass.ukr(href='#') UKR
                    a.langclass.eng(href='#') ENG
                .arr_block
                    .arr#arrButton
                a.in(href='#')
                    img(src='img/in.png')
