.home
    .slider_wrapper.owl-carousel
        .slide.one
            img(src='img/lab1.jpg')
            .content_block
                .content_block_item
                  h2 Что такое Lorem Ipsum
                  p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                     | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        .slide.two
            img(src='img/lab2.jpg')
            .content_block
                .content_block_item
                    h2 Что такое Lorem Ipsum
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        .slide.three
            img(src='img/povar.jpg')
            .content_block
                .content_block_item
                    h2 Что такое Lorem Ipsum
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
.about_us
    .container
        .about_us_wrapper
            h2 о компании
            .left_about_us
                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                    | "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                    | коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                    | успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации
                    | в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее
                    | время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
            .right_about_us
                img(src='img/about_us.png')
.block_items
    .container
        .block_items__wrapper
            .block_item
                .block_item__info
                    span Нервная система
                .image_item
                    img.block_items__image(src='img/Forma 1.png')