.home
    .slider_wrapper.owl-carousel
        .slide.one
            img(src='img/lab1.jpg')
            .content_block
                .content_block_item
                  h2 Что такое Lorem Ipsum
                  p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                     | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        .slide.two
            img(src='img/lab2.jpg')
            .content_block
                .content_block_item
                    h2 Что такое Lorem Ipsum
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        .slide.three
            img(src='img/povar.jpg')
            .content_block
                .content_block_item
                    h2 Что такое Lorem Ipsum
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.