.header
  z-index: 10
  position: fixed
  display: flex
  justify-content: center
  width:  100%
  border-bottom: 2px solid rgba(56, 56, 56, 1)
  background-color: rgba(255, 255, 255, .9)
  height: 165px
  .header_wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%

    font-family: 'robotoslabregular', sans-serif
    font-size: 20px
    a
      img
        height: 100%
    .right_header
      display: flex
      flex-wrap: wrap
      nav
        display: flex
        align-items: flex-end

        ul
          display: flex
          flex-wrap: wrap
          transition: all .5s
          li
            padding: calc(15px + .5vw)
            position: relative
            cursor: pointer

            a
              transition: all .6s
            &:before
              content: ''
              position: absolute
              //top: 0
              right: 0
              bottom: 0
              left: 0
              height: 0
              width: 100%
              background-color: $onecolor
              transition: all .5s
              z-index: 1
            &:hover
              a
                color: rgba(255, 255, 255, 1)
                position: relative
                z-index: 2
              &:before
                height: 100%

          a
            text-decoration: none
            color: rgba(0, 0, 0, 1)
    .lang
      display: flex
      align-items: flex-end
      padding-bottom: calc(15px + .5vw)

      .ukr
        transform: translateX(500px)
        transition: all .5s

      .eng
        transform: translateX(500px)
        transition: all .7s

      a
        text-decoration: none
        font-family: 'robotoslabregular', sans-serif
        color: rgba(0, 0, 0, 1)
      a:not(:last-child)
          margin-right: 10px
      .arr
        height: 10px
        width: 10px
        border-right: 4px solid $onecolor
        border-bottom: 4px solid $onecolor
        transform: rotate(45deg)
        margin-bottom: 7px
        cursor: pointer
        transition: all .5s
        margin-right: 20px

    a
      display: flex
      align-items: flex-end
      img
        padding-bottom: calc(15px + .5vw)





